body {

    font-family: system-ui; 
    background-image: url("https://i.pinimg.com/564x/78/2c/eb/782ceb0a3d791c00b07fde118e327930.jpg");

    background-size: auto;
    background-position:center; 
    color: black;

}
body #header {
    background: white;
    background-clip: content-box;
    
    font-size: 65px;
    font-weight: bold;
    display: table;
    margin-right: auto;
    margin-left: auto;
    padding: 55px;

}
body #content {
    background: white;
    background-clip: content-box;
    font-size: 35px;
    font-weight: bold;
    display: table;
    margin: auto;
    padding: 35px;

}

select, input {
    padding: 12px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

#content img{
    width: 30px;
    height: 30px
}

button {
    background-color:rgb(72, 141, 68);
    border-radius: 10px; 
    padding: 15px;
    text-align: center;
    font-size: 25px;
}
#list {
    display: table;
    margin-right: auto;
    margin-left: auto;
}

#list h2 {
    color: darkgreen;
    text-align: center;

}
  
#list #currency_list {
    border-collapse: collapse;
    padding: 15px;
    border-radius: 8px;
  
}
  
#list #currency_list td {
   text-align: center;
   border: 1px solid black;
   padding: 10px;
}
#list #currency_list img {
    width: 70px;
    height: 45px;
}

#answer h2{
    background: white;
    text-align: center;
}
#answer h3{
    background: white;
    text-align: center;
}