<!DOCTYPE html>
<html>
<head>
    <title>Avital Currency Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/> 
</head>
<body>
    <div id="header">
        Currency Converter
    </div>
    <div id="content">
        <table>
            <tr id="titles">

                <td><label for="amount"> Amount: </label></td>
                <td><label for="from"> From: </label></td>
                <td>
                <td><label for="to"> To: </label></td>
            </tr>
            <tr>

                <td> <input type="text" id="amount" name="amount" placeholder="1 "></td>
                <td><input type="text" id="from" name="from" placeholder="First Currency "></td>
                <td><img src="https://www.pinclipart.com/picdir/middle/43-431582_right-arrow-no-background-clipart.png"/></td>
                <td> <input type="text" id="to" name="to" placeholder="Second Currency "></td>
                <td><button class="button" onclick="convert()">Convert </button></td>
            
            </tr>
        </table>
        

        <script>

            function convert() {
                if(!document.getElementById("from").value || !document.getElementById("to").value)
                {
                    alert("empty First Currency or Second Currency")
                    document.getElementById("from").value = ""
                    document.getElementById("to").value = ""
                }
                else { // Go to /convert
                    var amount = document.getElementById("amount").value
                    var from = document.getElementById("from").value
                    var to = document.getElementById("to").value
                    window.location.assign("/convert?amount=" + amount + "&from=" + from + "&to=" + to)
                }
            }
        </script>    

        {%block content%}{% endblock %}
        <div id="list">
        <h2>Currencies List:</h2>
        <table id="currency_list"> 
                <tr><td>CAD</td><td> Canadian Dollar</td></tr>
                <tr></tr><td>HKD</td> <td>Hong Kong Dollar</td></tr>
                <tr><td>ISK</td> <td>Icelandic Krona</td></tr>
                <tr><td>PHP</td> <td>Philippine Peso</td></tr>
                <tr><td>DKK</td> <td>Danish Krone</td></tr>
                <tr><td>HUF</td> <td>Hungarian Forint</td></tr>
                <tr><td>CZK</td> <td>Czech Koruna</td></tr>
                <tr><td>AUD</td> <td>Australian Dollar</td></tr>
                <tr><td>RON</td> <td>Romanian Leo</td></tr>
                <tr><td>SEK</td> <td>Swedish Krona</td></tr>
                <tr><td>IDR</td> <td>Indonesian Rupiah</td></tr>
                <tr><td>INR</td> <td>Indian Rupee</td></tr>
                <tr><td>BRL</td> <td>Brazilian Real</td></tr>
                <tr><td>RUB</td> <td>Russian Ruble</td></tr>
                <tr><td>HRK</td> <td>Croatian Kuna</td></tr>
                <tr><td>JPY</td> <td>Japanese Yen</td></tr>
                <tr><td>THB</td> <td>Thai Baht</td></tr>
                <tr><td>CHF</td> <td>Swiss Franc</td></tr>
                <tr><td>SGD</td> <td>Singapore Dollar</td></tr>
                <tr><td>PLN</td> <td>Polish Zloty</td><tr>
                <tr><td>BGN</td> <td>Bulgarian Lev</td><tr>
                <tr><td>TRY</td> <td>Turkish Lira</td></tr>
                <tr><td>CNY</td> <td>Chinese Yuan Renminbi</td></tr>
                <tr><td>NOK</td> <td>Norwegian Krone</td></tr>
                <tr><td>NZD</td> <td>New Zealand Dollar</td></tr>
                <tr><td>ZAR</td> <td>South African Rand</td></tr>
                <tr><td>USD</td> <td>US Dollar</td></tr>
                <tr><td>MXN</td> <td>Mexican Peso</td></tr>
                <tr><td>ILS</td> <td>Israeli Shekel</td></tr>
                <tr><td>GBP</td> <td>British Pound</td></tr>
                <tr><td>KRW</td> <td>South Korean Won</td></tr>
                <tr><td>MYR</td> <td>Malaysian Ringgit</td></tr>
                <tr><td>EUR</td> <td>Euro</tr>
        </table>
    </div>
    </div>

</body>
</html>