<!DOCTYPE html>
<html>
<head>
    <title>Avital Currency Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/> 
</head>
<body>
    <div id="header">
        Currency Converter
    </div>
    <div id="content">
        <table>
            <tr id="titles">

                <td><label for="amount"> Amount: </label></td>
                <td><label for="from"> From: </label></td>
                <td></td>
                <td><label for="to"> To: </label></td>
            </tr>
            <tr>

                <td> <input type="text" id="amount" name="amount" placeholder="1 "></td>
                <td><input type="text" id="from" name="from" placeholder="First Currency "></td>
                <td><img src="https://www.pinclipart.com/picdir/middle/43-431582_right-arrow-no-background-clipart.png"/></td>
                <td> <input type="text" id="to" name="to" placeholder="Second Currency "></td>
                <td><button class="button" onclick="convert()">Convert </button></td>
            
            </tr>
        </table>
        

        <!-- <table id = "currencies">
            <tr>
                <th>Currency</th>
                <th>Currency Name</th>
            </tr>

            <tr>

            </tr>


        </table> -->

        <script>

            function convert() {
                if(!document.getElementById("from").value || !document.getElementById("to").value)
                {
                    alert("empty First Currency or Second Currency")
                    document.getElementById("from").value = ""
                    document.getElementById("to").value = ""
                }
                else { // Go to /convert
                    var amount = document.getElementById("amount").value
                    var from = document.getElementById("from").value
                    var to = document.getElementById("to").value
                    window.location.assign("/convert?amount=" + amount + "&from=" + from + "&to=" + to)
                }
            }
        </script>    

        {%block content%}{% endblock %}
    </div>

</body>
</html>